@use "../utilities/base" as *;
@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.signup{
  background-image: url(../../images/signup2.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-size: cover;

    &__sign123{
      @include flex(center,center);
      flex-direction: column;
      margin:0 auto;

    }
   

}